{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "overrides": [
    {
      "extends": ["plugin:@typescript-eslint/recommended"],
      "files": ["**/*.{js,jsx}"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "unused-imports",
    "simple-import-sort",
    "import",
    "sort-keys-fix"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": "error",
    "arrow-body-style": "off",
    "camelcase": "warn",
    "import/no-duplicates": [
      "error",
      {
        "considerQueryString": true
      }
    ],
    "no-async-promise-executor": "warn",
    "no-console": [
      "error",
      {
        "allow": ["warn", "error"]
      }
    ],
    "no-unsafe-optional-chaining": "off",
    "no-unused-vars": "off",
    "prefer-arrow-callback": "off",
    "react/react-in-jsx-scope": "off",
    "semi": ["error", "always"],
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": "error",
    "sort-keys-fix/sort-keys-fix": [
      "error",
      "asc",
      {
        "caseSensitive": true,
        "natural": true
      }
    ],
    "spaced-comment": "error",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "error",
      {
        "args": "after-used",
        "argsIgnorePattern": "^_",
        "vars": "all",
        "varsIgnorePattern": "^_"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    },
    "react": {
      "version": "detect"
    }
  }
}
